{% extends 'base.html.twig' %}
{% block body %}
<div class="container">
<h1>Take Home Breakdown</h1>
<h3>The city you live in dictates how much money you get to save/spend.</h3>
<h3>Could you be making more money in another city?</h3>
</div>
{% endblock %}
